<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<gazebo reference="laser_frame">

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize> <!-- Visualize in in gazebo -->
            <update_rate>10</update_rate> <!-- sensor is updated 10x per second -->
            <ray>
                <scan>
                    <horizontal>          <!-- Scans horizontally with the following parameters-->
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>  <!-- Publish to the ROS topic scan -->
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type> <!-- Publish as laser scan message -->
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo> 

</robot>
