<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Red color -->
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

  <!-- Silver color -->
  <material name="silver">
    <color rgba="0.75 0.75 0.75 1.0"/>
  </material>

  <!-- Black color -->
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <!-- Dark Grey color -->
<material name="dark_grey">
  <color rgba="0.2 0.2 0.2 1.0"/>
</material>

</robot>
